<!DOCTYPE html>
<html  ng-app="myApplication" ng-controller="Controller">
	<head>
		<title>Snake Game</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
		<meta name="description" content="Portfolio implemented as means to present and/or demonstrate professional skills, work and efforts put into practice for building up a reliable knowledge foundation to facilitate the adaptability within a new environment, industry, toolchain workplace or with various technologies within the IT industry.">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript,C,C++,C#,Java,Python,Unity,Programming,IT,Learning,Portal,Projects,Github,Skills,Documentation,Exercise,Examples,Coding,Samples,LinkedIn,Online,Software,Engineering,Scripts,Games,Web,Development,CV,Demonstration,Practice,Electronic,Automation,Computers,Systems,Challenge,AI,Repositories,Tips,Tricks,Know,How,To">
        <meta name="author" content="Vacariu Dragos">
        <link rel="icon" type="image/x-icon" href="../../website_resources/global/images/favicon.ico">
        <!--Global resources-->
		<link rel="stylesheet" href="../../website_resources/global/css/global.css">
		<link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		
		<!--Local resources-->
		<script src="snake_game_script.js"></script>
		<link rel="stylesheet" href="snake_game_style.css">
	
	</head>
	<body onkeypress = "Enter_FullScreen(event)">
		<header>
			<div id="header_title">
                <h2 id="page_title"></h2>
                <p id="page_description"></p>
			</div>				
		</header>
		<nav>
			<div ng-repeat="page in pageObject.page_navigation" ng-style="selectedWebPageStyle(page, 'Catalogue')">
				<a ng-if="page.name!='Catalogue'" class = "outer_href" href={{page.value}}>{{page.name}}</a>
				
				<div ng-if="page.name=='Catalogue'" class="dropdown_menu" style="padding:0%;">
					<a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
					<div class="dropdown_content">
						<a ng-repeat="page in pageObject.page_navigation_dropdown" href={{page.value}}>{{page.name}}</a>
					</div>
				</div>	
			</div>
		</nav>
		<div id="page_block">
			<h2>Catalogue -> <a href={{javascript_games_page.value}}>{{javascript_games_page.name}}</a> -> Snake Game</h2>
			<h3>Snake Game</h3>
			<table id="game_content">
				<tr>
					<td>
						<div id = "game_div">
							<table style="border-style:solid;">
								<tr>
									<td id = "elem00" onclick="SquareClicked('elem00')"  ></td>
									<td id = "elem01" onclick="SquareClicked('elem01')" ></td>
									<td id = "elem02" onclick="SquareClicked('elem02')"  ></td>
									<td id = "elem03" onclick="SquareClicked('elem03')" ></td>
									<td id = "elem04" onclick="SquareClicked('elem04')"  ></td>
									<td id = "elem05" onclick="SquareClicked('elem05')" ></td>
									<td id = "elem06" onclick="SquareClicked('elem06')"  ></td>
									<td id = "elem07" onclick="SquareClicked('elem07')" ></td>
								</tr>
								<tr>
									<td id = "elem10" onclick="SquareClicked('elem10')" ></td>
									<td id = "elem11" onclick="SquareClicked('elem11')" ></td>
									<td id = "elem12" onclick="SquareClicked('elem12')" ></td>
									<td id = "elem13" onclick="SquareClicked('elem13')"  ></td>
									<td id = "elem14" onclick="SquareClicked('elem14')" ></td>
									<td id = "elem15" onclick="SquareClicked('elem15')"  ></td>
									<td id = "elem16" onclick="SquareClicked('elem16')" ></td>
									<td id = "elem17" onclick="SquareClicked('elem17')"  ></td>
								</tr>
								<tr>
									<td id = "elem20" onclick="SquareClicked('elem20')"  ></td>
									<td id = "elem21" onclick="SquareClicked('elem21')" ></td>
									<td id = "elem22" onclick="SquareClicked('elem22')"  ></td>
									<td id = "elem23" onclick="SquareClicked('elem23')" ></td>
									<td id = "elem24" onclick="SquareClicked('elem24')"  ></td>
									<td id = "elem25" onclick="SquareClicked('elem25')" ></td>
									<td id = "elem26" onclick="SquareClicked('elem26')"  ></td>
									<td id = "elem27" onclick="SquareClicked('elem27')" ></td>
								</tr>
								<tr>
									<td id = "elem30" onclick="SquareClicked('elem30')" ></td>
									<td id = "elem31" onclick="SquareClicked('elem31')" ></td>
									<td id = "elem32" onclick="SquareClicked('elem32')" ></td>
									<td id = "elem33" onclick="SquareClicked('elem33')"  ></td>
									<td id = "elem34" onclick="SquareClicked('elem34')" ></td>
									<td id = "elem35" onclick="SquareClicked('elem35')"  ></td>
									<td id = "elem36" onclick="SquareClicked('elem36')" ></td>
									<td id = "elem37" onclick="SquareClicked('elem37')"  ></td>
								</tr>
								<tr>
									<td id = "elem40" onclick="SquareClicked('elem40')"  ></td>
									<td id = "elem41" onclick="SquareClicked('elem41')" ></td>
									<td id = "elem42" onclick="SquareClicked('elem42')"  ></td>
									<td id = "elem43" onclick="SquareClicked('elem43')" ></td>
									<td id = "elem44" onclick="SquareClicked('elem44')"  ></td>
									<td id = "elem45" onclick="SquareClicked('elem45')" ></td>
									<td id = "elem46" onclick="SquareClicked('elem46')"  ></td>
									<td id = "elem47" onclick="SquareClicked('elem47')" ></td>
								</tr>
								<tr>
									<td id = "elem50" onclick="SquareClicked('elem50')"  ></td>
									<td id = "elem51" onclick="SquareClicked('elem51')"  ></td>
									<td id = "elem52" onclick="SquareClicked('elem52')"  ></td>
									<td id = "elem53" onclick="SquareClicked('elem53')"   ></td>
									<td id = "elem54" onclick="SquareClicked('elem54')"  ></td>
									<td id = "elem55" onclick="SquareClicked('elem55')"   ></td>
									<td id = "elem56" onclick="SquareClicked('elem56')"  ></td>
									<td id = "elem57" onclick="SquareClicked('elem57')"   ></td>
								</tr>
								<tr>              
									<td id = "elem60" onclick="SquareClicked('elem60')" ></td>
									<td id = "elem61" onclick="SquareClicked('elem61')" ></td>
									<td id = "elem62" onclick="SquareClicked('elem62')"  ></td>
									<td id = "elem63" onclick="SquareClicked('elem63')" ></td>
									<td id = "elem64" onclick="SquareClicked('elem64')"  ></td>
									<td id = "elem65" onclick="SquareClicked('elem65')" ></td>
									<td id = "elem66" onclick="SquareClicked('elem66')"  ></td>
									<td id = "elem67" onclick="SquareClicked('elem67')" ></td>
								</tr>
								<tr>
									<td id = "elem70" onclick="SquareClicked('elem70')" ></td>
									<td id = "elem71" onclick="SquareClicked('elem71')" ></td>
									<td id = "elem72" onclick="SquareClicked('elem72')" ></td>
									<td id = "elem73" onclick="SquareClicked('elem73')"  ></td>
									<td id = "elem74" onclick="SquareClicked('elem74')" ></td>
									<td id = "elem75" onclick="SquareClicked('elem75')"  ></td>
									<td id = "elem76" onclick="SquareClicked('elem76')" ></td>
									<td id = "elem77" onclick="SquareClicked('elem77')"  ></td>
								</tr>
							</table>
						</div>
					</td>
					<td>
						<div id="game_hud">
							<h6 id="score">Score: </h6> 
							<h6 id="author">Dragos Vacariu @ 2019</h6> 
							<h6 id="game_Info">
								<b>Game Info:</b> The purpose of the game is to control the snake within the table, grab the fruit will raise the score and 
								allow the snake to grow longer. 
								<br><br><b>Be careful while controlling the snake, if you hit the tail the game if over.</b>
							</h6>
							<h6 id="result"></h6>
                            <!--The menu div will help styling the buttons inside as flex elements which 
                                will allow them better responsiveness on extreme small viewports-->
                            <div id="menu_div">
                                <input class = "game_button" type="button" id="startgame" onclick="gameStart()" value="Start Game">
                                <input class = "game_button" type="button" id="restartgame" disabled="true" onclick="gameRestart()" value="Restart Game">
                                <input class = "game_button" type="button" id="fullscreen_button" onclick="FullscreenMode()" value="Enter Fullscreen">
							</div>
                            <form id="controls">
								<h6>Controls:</h6>
                                <!--The button container divs will help styling the buttons inside as flex elements which 
                                will allow them better responsiveness on extreme small viewports-->
								<div class="button_container"><input class = "game_button" type="button" id="turnUp" disabled="true" onclick="setDirUp()" value="Up"></div>
								<div class="button_container">
                                    <input class = "game_button" type="button" id="turnLeft" disabled="true" onclick="setDirLeft()" value="Left">
                                    <input class = "game_button" type="button" id="turnRight" disabled="true" onclick="setDirRight()" value="Right">
                                </div>
								<div class="button_container"><input class = "game_button" type="button" id="turnDown" disabled="true" onclick="setDirDown()" value="Down"></div>
                            </form>
						</div>
					</td>
				</tr>
			</table>
			<h4>
				Snake is a game in which the player has to move around the map eat the fruit, grow, avoid collisions and try to survive for as long as possible. 
				<br><br>
				Read the <b><code>Game Info</code></b> to find out more.
			</h4>
		</div>
		<footer>
            <h4 id="copyright_message">{{pageObject.footer_copyright}}</h4>
            <div id = "footer_tabelation_div">
                <div class="footer_columns" ng-repeat="list_item in footer_table_contents">
                    <p class="column_title">{{list_item.name}}:</p>
                    <ul class="footer_list">
                        <li ng-if = "list_item.content == 'text'" ng-repeat="item in list_item.list_values">{{item}}</li>
                        <li ng-if = "list_item.content == 'objects_with_links'" ng-repeat="item in list_item.list_values"><a href="{{item.value}}">{{item.name}}</a></li>
                    </ul>
                </div>
            </div>
            <h5 id="footer_endline">{{pageObject.footer_paragraph}}</h5>
        </footer> 
	</body>
    <!--This resource has to be added here because we need the elements in the HTML document to exist before 
    running the script-->
    <!--Global resources-->
    <script src="../../website_resources/global/scripts/global_script.js"></script>
</html>