#items_length{
	width:200px;
	float:right;
	margin:2px;
	padding:2px;
}
#random_items{
	margin:10px;
	width:150px;
	border-style: dashed;
	border-color: black;
	border-width: 2px;
	font-family: Consolas;
	font-variant: small-caps;
	font-size: 15px;
}
#random_button{
	margin:10px;
	width:150px;
	border-style: dashed;
	border-color: black;
	border-width: 2px;
	font-family: Consolas;
	font-variant: small-caps;
	font-size: 15px;
}
#randomize_paragraph{
	float: right; border-style: solid; border-width: 1px; width: 500px; 
	margin: 0px; padding:0px; top: 0px;
	color: black;
	position: relative;
	height: 410px;
	font-weight: bold;
}
#items_window{
	margin:5px;
	border-style: dashed;
	border-width: 1px;
	border-color: black;
	padding: 5px;
	font-weight: bold;
}
#randomize_paragraph p {
	text-align: left; margin: 10px; border:solid; padding: 5px; border-width:1px;
	background-color: white;
	opacity: 0.9;
	font-family: Consolas;
	font-variant: small-caps;
	font-size: 15px;
}
#randomize_message_log {
	text-align: left; margin: 10px; padding:10px; border-width:1px; border:ridge; height: 150px; padding:5px;
	color: black;
	opacity: 0.9;
	font-weight: bold;
	background-color: white;
}
table tr {
	padding:10px; 
}
table td {
	width:60%;
}
body{
	background-image: url(random.png);
}
#Quote textarea{
	font-weight: bold;
	font-family: Consolas;
	font-variant: small-caps;
	font-size: 15px;
}
#Quote p {
	text-align: left; margin: 10px; padding: 5px;
	font-weight: bold;
	background-color: white;
	border-style: inset;
	border-color:black;
	border-width:1px;
}
#Quote{
	float: left; 
	position: relative; 
	margin:10px; 
	padding:10px; 
	border:solid; 
	border-width: 1px;
	opacity: 0.9;
	border-color: black;
	color: black;
	font-weight: bold;
	font-family: Consolas;
	font-variant: small-caps;
	font-size: 15px;
}