
#page_block #game_content
{
	position:relative;
	width: 82%;
	height: auto;
	left: 10%;
	background-image: url(tetris_page_background.jpg);
	background-repeat: repeat;
	background-size: cover;
	border: solid 1px black;
}

#game_div
{
	width: 100%;
	height:auto;
	left: 10%;
}


#game_div table{
    position: relative;
    width: 50%;
	height: auto;
    margin:1vw;
    padding:1vw;
	border-style: none;
    border-spacing: 2px;
	border-color:lightgray;
	border-width:1px;
	opacity: 0.9;
}

#game_div table tr td{
    padding: 1vw 1vw ;
	background-repeat: no-repeat; 
    background-size: 100%;
    margin:0%;
	border-style:solid; 
	border-color:black;
	border-width:1px;

}

#gameHud{
	position:relative;
	margin:1vw;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 120%;
	padding: 1vw;
	background-color: lightgray;
	opacity: 0.8;
}

#button_div
{
    position: relative;
    width: 98%;
}

#gameHud #score, #gameHud #gameStatus{
	position: relative;
	padding: 1vw;

	font-weight: bold;
	font-family: Consolas;
	border-width: 1px;
	border-style: inset;
	border-color: gray;
	width: 80%;
	margin: 3%;
	margin-bottom: 5%;
}

#gameHud #score
{
	background-color: rgba(255,255,255,0.5);
	color: red;
	text-align: left;
	text-shadow: 0.2vw 0.2vw white;
	font-size: 1.5vw;
}

#gameHud #gameStatus
{
	background-color: rgba(0,0,255,0.2);
	color: white;
	text-shadow: 0.2vw 0.2vw black;
	text-align: center;
	font-size: 1.2vw;
}

#menu{
	position: relative;
	width: 90%;
	padding: 3%;
	border-style:solid;
	border-width: 1px;
	background-color: pink;
}

#controls{
    position: relative;
	width: 90%;
	padding:3%;
	border-style:solid;
	border-width: 1px;
	background-color: pink;
}

#restartgame, #startgame, #fullscreen, #controls{
	margin-top:1vw;
	width: 90%;
	font-variant: small-caps;
	font-size: 1.2vw;
	font-family: Arial;
	font-weight: bold;
}

#rotate{
    position:relative;
	background-color: red;
	border-style: solid;
	border-color: blue;
	margin: 2%;
	color: white;
	font-size: 1.2vw;
	font-family: Arial;
	font-variant: small-caps;
	font-weight: bold;
	padding: 0.5%;
    width: 80%;
    padding:2%;
}

#right, #left, #down {
    position:relative;
    right: 0%;
	background-color: blue;
	border-style: solid;
    border-width: 1px;
	border-color: black;
	color: white;
	font-size: 1.2vw;
	font-family: Arial;
	font-variant: small-caps;
	font-weight: bold;
	padding: 5px;
	margin-left:2%;
    margin-top:1vw;
    width: 46%;
}

#code_style
{
    color:red;
    text-transform: Uppercase;
    font-size: 1.3vw;
}

#controlInfo
{   
	position:relative;
	width: 65%;
	left:25%;
	padding: 0.5vw;
	margin: 0.5vw;
    font-variant: small-caps;
	font-size: 1.2vw;
	text-align: left;
	font-family: Consolas;
	font-weight: bold;
	background-color: rgba(255,255,255,0.5);
	border-style: solid;
    border-width: 1px;
    border-color: black;
}

#controlInfo h6{
	position:relative;
    color: white;
    margin-left:3%;
	border-width: 1px;
    width: 85%;
    font-variant: small-caps;
    font-family: Consolas;
    font-size: 1.2vw;
	background-color: rgba(0,0,255,0.5);
	padding: 2%;
}


#fullscreen{
	position:relative;
	left: 5%;
	bottom:5%;
	-ms-transform: translateY(-50%); /*centering the button*/
	transform: translateY(-50%); /*centering the button*/
}