<!DOCTYPE html>
<html  ng-app="myApplication" ng-controller="Controller">
	<head>
		<title>Message Encoder</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--For mobile viewport proper resizing-->
		<!--Global resources-->
		<link rel="stylesheet" href="../../website_resources/global/css/global.css">
		<link rel="stylesheet" href="../../website_resources/global/css/video_page.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="../../website_resources/global/scripts/global_script.js"></script>
		
		<!--Local resources-->
		<link rel="stylesheet" href="./webapps.css">
		<script src="./encoder_decoder.js"></script>
	</head>
	<body>
		<header>
			<div id="header_title">
				<h2>{{pageObject.page_title}}</h2>
			</div>				
		</header>
		<nav>
			<div ng-repeat="page in pageObject.page_navigation" ng-style="selectedWebPageStyle(page, 'Catalogue')">
				<a ng-if="page.name!='Catalogue'" class = "outer_href" href={{exitDir}}{{page.value}}>{{page.name}}</a>
				
				<div ng-if="page.name=='Catalogue'" class="dropdown_menu" style="padding:0%;">
					<a class="outer_href">{{pageObject.page_navigation[1].name}}</a>
					<div class="dropdown_content">
						<a ng-repeat="page in pageObject.page_navigation_dropdown" href={{exitDir}}{{page.value}}>{{page.name}}</a>
					</div>
				</div>	
			</div>
		</nav>
		<div id="page_block">
			<h2>Catalogue -> <a href={{exitDir}}{{exitDir}}{{javascript_webapps_page.value}}>{{javascript_webapps_page.name}}</a> -> Message Encoder</h2>
			<h3>Message Encoder</h3>

				<div id="left_div">
					<h6>Enter the text in the box below:</h6>
					<textarea  id="text_box" oninput = "NumberOfCharsDecode()" cols="80" rows="20"></textarea><br>
					<input type="button" id="button_encode" onclick="EncodeButtonPressed()" value="Encode"></input>
				</div>
				<h4>Message Log:</h4>
				<h4 id="message_log">	
				</h4>				
		</div>
		<footer>
			<h4>{{pageObject.footer_copyright}}</h4>
			<h5>{{pageObject.footer_paragraph}}</h5>
			<table>
				<tr>
					<th>{{pageObject.footer_table_headers[0]}}</th>
					<th>{{pageObject.footer_table_headers[1]}}</th>
					<th>{{pageObject.footer_table_headers[2]}}</th>
				</tr>
				<tr>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.template_info">{{x}}</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.connections_list">
								<a class = "outer_href" href="https://www.{{x}}">{{x}}
								</a>
							</li>
						</ul>
					</td>
					<td>
						<ul class="footer_list">
							<li ng-repeat="x in pageObject.tools_used">{{x}}</li>
						</ul>
					</td>
				</tr>
			</table>
		</footer>
	</body>
</html>