#page_block #game_content
{
	position:relative;
	width:90%;
	height:auto;
	left:5%;
	background-image: url(towerblocks_page_background.jpg);
	background-repeat: repeat;
	background-size: fill;
	position:relative;
	border: solid 2px black;
}

#game_content_first_column{
    width: 70%;
}

#page_block #game_content tr td
{
	/*border: solid 2px black;*/
    vertical-align: top;
}

#game_div
{
	width: 100%;
	height:auto;
    margin: 0%;
	left: 0%;
}

#game_div table tr{
    padding: 0%;
}

#game_div table td{
    padding: 2.25%;
    margin:0%;
    width: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background-repeat: no-repeat; 
    background-size: 100% 100%;
}

#game_div table{
	position: relative;
    margin: 1%;
    padding:0%;
    width: 98%;
    border-width: 1px;
    border-collapse: collapse;
    border-color: black;
    border-style: ridge;
    background-color: rgba(200,200,200,0.5);
}

#hud{
    position:relative;
	width:80%;
    height: 36vw;
    min-height: 80%;
	padding: 1%;
	margin: 3% 6%;
	border-style:solid;
	border-color: black;
	border-width: 1px;
    font-family: Courier New;
    font-size : 1vw; /* font-size 1% of the viewport size.*/
	color: black;
    background-color: rgba(200,200,200,0.5);
}

#hud h6{
	position: relative;
	padding: 1%;
	margin: 1%;
	font-family: Consolas;
    width:94%;
}

#controlInfo{
    position: relative;
    color:blue;
    font-size: 1vw;
    height: 7vw;
}

#ComboMessage{
    position: relative;
    color:black; /*the color will be set via the script*/
    font-size: 0.8vw;
    height: 1vw;
    border: none 2px black;
    text-align: center;
}

#gameStatus{
    color: red;
    font-size: 0.8vw;
    font-family: Courier New;
    height: 3vw;
}

#menu{
    position: relative;
	border-style:none;
	padding: 1%;
}

#controls{
    position: relative;
	border-style:solid;
	padding: 2%;
}

#drop{
    margin-top:1vw;
	width: 8vw;
}

#restartgame, #startgame, #fullscreen, #drop_block{
    position: relative;
    right:0%;
	width: 100%;
	height: 2.5vw;
    text-align: center;
    font-family: Arial;
    font-size: 1.3vw; /* font-size in percent of the viewport size.*/
}

#restartgame, #fullscreen
{
    margin-top: 1vw;
}

#score
{
	color: black;
	background-color: rgba(255,255,255,0.9);
    font-size: 1.1vw;
}

#spareBlocks
{
	color: red;
	background-color: rgba(255,255,255,0.9);
    font-size: 1.1vw;
}

#blocksClimbed
{
	color: green;
	background-color: rgba(255,255,255,0.9);
    font-size: 1.1vw;
}

#hud #author
{
	position: relative;
	border-style: none;
	color: blue;
	font-size: 1vw;
	font-weight: bold;
	background-color: rgba(255,255,255,0.9);
	margin-top: 1vw;
    margin-left: 1vw;
    width: 13vw;
}