#page_block #game_content
{
	position:relative;
	width:80vw;
	height:auto;
	left:10vw;
	background-image: url(towerblocks_page_background.jpg);
	background-repeat: repeat;
	background-size: cover;
	position:relative;
	border: solid 2px black;
	
}

#page_block #game_content tr td
{
	border: solid 2px black;
}

#game_div
{
	width: 45vw;
	height:auto;
	left: 0%;
}

#game_div table tr{
    padding: 0%;
}

#game_div table td{
    padding:3%;
    margin:0%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	background-repeat: no-repeat; 
    background-size: 100%;
}
#game_div table{
	position: relative;
	margin:2%;
    padding:0%;
    width: 100%;
    border-width: 1px;
    border-collapse: collapse;
    border-color: black;
    border-style: ridge;
    background-color: rgba(200,200,200,0.5);
}

#hud{
    position:relative;
	width:27vw;
	padding: 2%;
	margin: 2%;
	border-style:solid;
	border-color: black;
	border-width: 1px;
    font-family: Courier New;
    font-size : 1vw; /* font-size 1% of the viewport size.*/
	color: black;
    background-color: rgba(200,200,200,0.5);
}

#hud h6{
	position: relative;
	padding: 2%;
	margin: 2%;
	width: 14vw;
	left: 20%; 
	font-family: Consolas;
	font-size: 1.4vw;
}

#controlInfo{
    color:blue;
}

#gameStatus{
    color: red;
}
#menu{
    position: relative;
	border-style:none;
	padding: 1%;
}
#controls{
    position: relative;
	border-style:solid;
	padding: 2%;
}
#drop{
    margin-top:10px;
	width: 8vw;
}
#restartgame, #startgame, #fullscreen, #drop_block{
	margin-top:10px;
    position: relative;
    left:0%;
	width: 14vw;
	height: 3vw;
    text-align: center;
    font-family: Arial;
    font-size: 1.4vw; /* font-size in percent of the viewport size.*/
}

#spareBlocks
{
	color: red;
	background-color: rgba(255,255,255,0.9);
}

#blocksClimbed
{
	color: green;
	background-color: rgba(255,255,255,0.9);
}

#hud #author
{
	position: relative;
	border-style: none;
	color: blue;
	font-size: 1vw;
	font-weight: bold;
	background-color: rgba(255,255,255,0.9);
	margin-top: 10%;
}