#pagination_table{
	margin:5px;
}
body{
	background-image: url(homepage_background.jpg);
	background-size:100%;
    background-repeat: repeat;
}
#pagination_div{
    width:40%; 
	opacity: 0.7;
	background-color:gray;
	font-family: Trebucket MS;
	font-size: 1vw;
	border-style: ridge;
	border-width: 1.2vw;
	border-color: white;
    margin:1%; 
	padding:1%;
}
#pagination_div h2{
	font-family: Consolas;
	color: white;
    font-size: 1.5vw;
	font-variant: small-caps;
}
#pagination_div h4{
	font-family: Verdana;
	color: gold;
	opacity: 0.7;
	border-style: solid;
	border-width: 1%;
	border-color: white;
	padding: 0.5%;
	letter-spacing: 1px;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.4);
	width:80%;
	margin:2%;
}
#pagination_div h4 :hover{
	background-color: rgba(0,0,0,1.0);
}
#pagination_div a{
	color: lightgreen;
	font-family: Courier New;
	letter-spacing: 1px;
	margin:5px;
	padding:5px;
	font-weight: bold;
	line-height: 1.6;
	font-variant: small-caps;
	font-size: 2vw;
	text-decoration: none;
}
#pagination_div a:hover{
	color: pink;
	font-family: Courier New;
	letter-spacing: 1px;
	margin:5px;
	padding:5px;
	font-weight: bold;
	line-height: 1.6;
	font-variant: small-caps;
	font-size: 2vw;
	text-decoration: none;
}