table td{
	border-style:solid; padding:30px;
	background-repeat: no-repeat; background-size: 60px;
}
table{
	float:left;
	opacity: 0.9;
}
#game_Info{
	float:right;
	width:700px;
	border-style:solid;
	border-width:2px;
	border-color:darkgreen;
	padding:10px;
	background-color: lightgreen;
	color:darkgreen;
	font-family:Consolas;
	font-size:17px;
	opacity: 0.9;
}
#score{
	float:right;
	width:700px;
	border-style:solid;
	border-width:2px;
	border-color:darkred;
	padding:10px;
	background-color: pink;
	color:darkred;
	font-family:Trebucket MS;
	font-size:17px;
	opacity: 0.9;
}
#result{
	float:right;
	width:700px;
	border-style:solid;
	border-width:2px;
	border-color:brown;
	padding:10px;
	background-color: white;
	font-family:Courier New;
	font-size:16px;
	opacity: 0.9;
}
#restart{
	padding:2px;
	margin:50px;
	margin-bottom:0px;
	width:100px;
}
body
{
	background-image: url(knight_chess_resources/knight_background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}