table td{
	border-style:solid; 
	border-width:1px;
	padding:30px;
	background-repeat: no-repeat; background-size: 60px;
}
table{
	float:left;
	margin-right:40px;
	background-image: url(snake_resources/snake_background2.bmp);
}
#restart{
	padding:2px;
	margin:50px;
	margin-bottom:0px;
	width:100px;
}
#controls{
	padding:2px;
	margin: 40px;
}
#turnUp{
	margin-left:20px;
	margin-bottom:10px;
}
#turnDown{
	margin-left:20px;
	margin-top:10px;
}