#pagination_table{
	margin:5px;
}
#pagination_div{
	width:400px; 
	border-style: solid; 
	border-width:1px; 
	margin:10px; 
	padding:10px;
}
#decode_left_div{
	float: left; 
	position: relative; 
	margin:10px; 
	padding:10px; 
	border:solid; 
	border-width: 2px;
	opacity: 0.6;
	border-color: white;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	text-shadow: 2px 2px #2200ff;
	font-family: Consolas;
	font-size: 16px;
}
#text_to_decode{
	margin:10px; 
	padding:5px; 
}
#button_decode{
	width:100px;
	font-family: Consolas;
	font-size: 15px;
	font-variant: small-caps;
	border-color: #2200ff;
	border-width: 1px;
	border-style: inset;
	margin-left: 5px;
}
#decode_paragraph{
	float: right; border-style: solid; border-width: 1px; width: 500px; 
	margin: 0px; padding:0px; top: 0px;
	color: white;
	opacity: 0.6;
	position: relative;
	height: 410px;
	font-variant: small-caps;
	font-weight: bold;
	text-shadow: 2px 2px #2200ff;
	font-family: Consolas;
	font-size: 16px;
}
#decode_message_log{
	text-align: left; margin: 10px; padding:10px; border-width:1px; border:ridge; height: 150px; padding:5px;
	color: white;
	opacity: 0.8;
	text-shadow: none;
}
#decode_paragraph p {
	text-align: left; margin: 10px; border:solid; padding: 5px; border-width:1px; 
}
#decode_left_div p {
	margin:0px; padding:0px; margin-left:10px;
}
#encode_left_div{
	float: left; 
	position: relative; 
	margin:10px; 
	padding:10px; 
	border:solid; 
	border-width: 2px;
	color: white;
	opacity: 0.6;
	border-color: white;
	font-variant: small-caps;
	font-weight: bold;
	text-shadow: 2px 2px #2200ff;
	font-family: Consolas;
	font-size: 16px;
}
#encode_left_div textarea{
	font-variant: small-caps;
	text-shadow: none;
	font-family: Consolas;
	font-size: 15px;
	letter-spacing: 1px;
}
#decode_left_div textarea{
	font-variant: small-caps;
	text-shadow: none;
	font-family: Consolas;
	font-size: 15px;
	letter-spacing: 1px;
}
#msg_encoder table tr {
	margin:0px;
	padding:10px; 
}
#msg_encoder table td {
	width:60%;
}
#msg_decoder table tr {
	margin:0px;
	padding:10px; 
}
#msg_decoder table td {
	width:60%;
}

#encode_left_div p{
	color: white;
}
#encode_left_div p {
	margin:0px; padding:0px; margin-left:10px;
}
#text_to_encode {
	margin:10px; padding:5px;
}
#encode_paragraph{
	float: right; border-style: solid; border-width: 1px; width: 500px; 
					  margin: 0px; padding:0px; top: 0px;
	color: white;
	opacity: 0.6;
	position: relative;
	height: 410px;
	font-variant: small-caps;
	font-weight: bold;
	text-shadow: 2px 2px #2200ff;
	font-family: Consolas;
	font-size: 16px;
}
#encode_paragraph p {
	text-align: left; 
	margin: 10px; 
	border:solid; 
	padding: 5px; 
	border-width:1px;
}
#encode_message_log {
	text-align: left; margin: 10px; padding:10px; border-width:1px; border:ridge; height: 150px; padding:5px;
	color: white;
	opacity: 0.8;
	text-shadow: none;
}
#button_encode{
	width:100px;
	font-family: Consolas;
	font-size: 15px;
	font-variant: small-caps;
	border-color: #2200ff;
	border-width: 1px;
	border-style: inset;
	margin-left: 5px;
}
#quote_length{
	width:200px;
	float:right;
	margin:2px;
	padding:2px;
	color: white;
	opacity: 0.8;
	font-weight: bold;
	letter-spacing: 1px;
	
}
#quote_window{
	margin:10px;
	padding:5px;
	font-weight:bold;
	font-style:Courier New;
	letter-spacing: 1px;
	font-size:14px;
	opacity:0.8;
}
#random_button{
	margin:10px;
	width:150px;
	border-style: outset;
	border-width: 2px;
	border-color: #2200ff;
	padding: 1px;
	font-family: Consolas;
}
#msg_encoder{
	background-image: url(encoder_decoder_resources/space.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
#msg_decoder{
	background-image: url(encoder_decoder_resources/space_mirror.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
#quote_body{
	background-image: url(encoder_decoder_resources/random_solid.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}