body{
	background-image: url(towerblocks_resources/towerblocks_page_background.jpg);
	background-size:1300px;
}
table td{
	padding: 3%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-repeat: no-repeat; background-size: 60px;
}
table{
    position: relative;
    float:left;
	margin-left:0%;
    width: 40%;
	background-image: url(towerblocks_resources/tower_blocks.jpg);
}
#hud h3, h4{
    margin-left: 10px;
}
#hud h3{
    font-family: Consolas;
    font-size : 16px;
	color: black;
}
#controlInfo{
    color:blue;
}
#hud{
    left:50%;
	width:15%;
    top: 10px;
	position:absolute;
	border-style:solid;
	padding: 20px;
	background-color: pink;
    font-family: Courier New;
    font-size : 16px;
	color: black;
}
#gameStatus{
    color: red;
}
#menu{
	border-style:none;
	padding: 10px;
	background-color: pink;
}
#controls{
	border-style:solid;
	padding: 20px;
	background-color: pink;
}
#drop{
    margin-top:10px;
	width: 100px;
}
#restartgame, #startgame{
	margin-top:10px;
	width: 100px;
}