body{
	background-image: url(textures/snake_page_background.jpg);
	background-size: 100%;
    background-repeat: no-repeat;
}

#left_block
{
	position: relative;
	width: 60%;
	top:0%;
	padding:1%;
	margin:0.5%;
}
#game_canvas {
    border: 0.5vw double #000000;
    background-color: #f1f1f1;
    background-image: url(textures/concrete.jpg);
    background-size: 40%  40%; /*scaling the image for high resolution*/
    background-repeat: repeat;
	width: 100%;
	opacity: 0.8;
}
#instructions
{
	position: relative;
	width: 100%;
	background-color: #f1f1f1;
	border-style: double;
	border-width: 0.5vw;
	border-color: black;
	opacity: 0.8;
	padding-top: 0.5%;
	padding-bottom: 1%;
	margin:0.5%;
}
#instructions p
{
	font-size: 1.5vw;
	font-variant: small-caps;
	text-align: center;
	padding: 0%;
	font-family:Trebuchet MS;
}

#instructions p code
{
	color: blue;
}

#right_block
{
	position: absolute;
	width: 30%;
	left:63%;
	top:0%;
	padding:1%;
	margin:0.5%;
}
#label_canvas{
	position: relative;
	width: 100%;
    border: 0.5vw double #000000;
    background-color: #f1f1f1;
    background-size: 100%;
    background-repeat: no-repeat;
	opacity:0.8;
    margin-top:0.5%;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:3.5%;
}
#buttons
{
	position: relative;
	border-style:double;
	border-width: 0.5vw;
	border-color: black;
	background-color: #f1f1f1;
	width: 100%;
	opacity: 0.8;
	padding-top: 0.5%;
	padding-bottom: 1%;
	margin-top:0.5%;
    margin-right:0.5%;
    margin-bottom:0.5%;
    margin-left:3.5%;
}
#buttons input
{
	width: 30%;
	font-size: 2vw;
	font-variant: small-caps;
}

#buttons #Up, #Down{
	position: relative;
	left: 33%;
	background-color: green;
	color: white;
	font-weight: bold;
	margin:3%;
}
#buttons #Left, #Right{
	position: relative;
	left: 5%;
	background-color: green;
	color: white;
	font-weight: bold;
	margin-top:5%;
	margin-bottom:5%;
}
#Right
{
	left: 35%;
}