#page_block #game_content{
    position:relative;
    width:80%;
    height:auto;
    left:10%;
    background-image: url(textures/snake_page_background.jpg);
    background-size: 100%;
    background-repeat: repeat;
    background-size: cover;
    border: solid 2px black;
    vertical-align: top;
}

#page_block #game_content tr td{
    vertical-align: top;
}

#left_block
{
    position: relative;
    width: 50vw;
    top:0%;
    padding: 0%;
    margin:0%;
}

#right_block
{
    position: relative;
    top:0%;
    width: 25vw;
    padding:0%;
    margin:0%;
}

#game_canvas {
    border-style: double;
    border-color: black;
    border-width: 1px;
    background-color: #f1f1f1;
    background-image: url(textures/concrete.jpg);
    background-size: 3.125%  5%; /*scaling the image for high resolution*/
    background-repeat: repeat;
    width: 100%;
    margin: 0%;
    padding: 0%;
    opacity: 0.8;

}


#label_canvas{
    position: relative;
    width: 98%;
    border-style:double;
    border-width: 2%;
    border-color: black;
    background-color: #f1f1f1;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity:0.8;
    margin:0%;
}

#instructions
{
    position: relative;
    width: 98%;
    background-color: #f1f1f1;
    border-style: double;
    border-width: 2%;
    border-color: black;
    opacity: 0.8;
    padding: 0%;
    margin:0%;
}

#instructions p
{
    font-size: 1.2vw;
    font-variant: small-caps;
    padding: 1%;
    margin:1%;
    font-family:Trebuchet MS;
    border-style: none;
}

#instructions p code
{
    color: blue;
}

#buttons
{
    position: relative;
    border-style:double;
    border-width: 2%;
    border-color: black;
    background-color: #f1f1f1;
    width: 98%;
    opacity: 0.8;
    padding-top: 0.5%;
    padding-bottom: 1%;
    margin-bottom:2%;
}

#buttons input
{
    width: 30%;
    font-size: 2vw;
    font-variant: small-caps;
}

/*The button container divs will help styling the buttons inside as flex elements which 
will allow them better responsiveness on extreme small viewports*/
#buttons .button_container
{
    display: flex;
}

#buttons #Up, #Down{
    position: relative;
    background-color: green;
    color: white;
    font-weight: bold;
    margin:1%;
    margin-left: 35%;
}
#buttons #Left, #Right{
    position: relative;
    background-color: green;
    color: white;
    font-weight: bold;
    margin-top:5%;
    margin-bottom:5%;
    margin:0%;
    margin-left: 5%;
}
#Right
{
    margin-left: 28%;
}

#right_block #author
{
    position: relative;
    width: 80%;
    border-style: none;
    color: blue;
    font-size: 1vw;
    font-weight: bold;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    padding: 2% 0%;
    margin: 5% 10%;
    border-radius: 10px;
}

#fullscreen, #restart{
    width: 40%;
    font-size: 1vw;
    margin-top: 5%;
    margin-left: 5%;
}